<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous">
  <link rel="stylesheet" href="./stylesheets/style.css">
  <title>Project</title>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Project Management System</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="#">Project
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/profile">Profile</a>
        </li>
      </ul>
    </div>
    <a href="/logout" onclick="confirm('are you sure ?')">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Sign out</button>
    </a>
  </nav>
  <div class="body">
    <h1>Project</h1>
    <h2>Filters</h2>
    <form action="/" method="GET">
      <input type="hidden" name="page" value="<%= page %>">
      <table class="table formfilter">
        <tbody>
          <tr>
            <%if(query.cprojectid){%>
              <td>
                <label class="checkbox-inline">
                  <input type="checkbox" name="cprojectid" checked>ID 
                </label>
              </td>
            <%}else{%>
              <td>
                <label class="checkbox-inline">
                  <input type="checkbox" name="cprojectid">ID 
                </label>
              </td>
            <%}%>
            <td>
              <input type="number" class="input form-control" placeholder="ID" name="projectid" value="<%=query.projectid%>">
            </td>
          </tr>
          <tr>
            <%if(query.cnp){%>
              <td> 
                <label class="checkbox-inline"> <input type="checkbox" name="cnp" checked> Name </label>
              </td>
            <%}else{%>
              <td> 
                <label class="checkbox-inline"> <input type="checkbox" name="cnp"> Name </label>
              </td>
            <%}%>
            <td> 
              <input type="text" class="input form-control" placeholder="Name" name="np" value='<%=query.np%>'> 
            </td>
          </tr>
          <tr>
            <%if(query.cmember){%>
              <td>
                <label class="checkbox-inline"> <input type="checkbox" name="cmember" checked> Member </label>
              </td>
            <%}else{%>
              <td>
                <label class="checkbox-inline"> <input type="checkbox" name="cmember"> Member </label>
              </td>
            <%}%>
              <td>
                <select name="member" class="custom-select input">
                  <option value="">Choose the Member ...</option>
                  <%user.forEach((val, index)=>{%>
                    <%if(query.member == val.userid && query.member){%>
                      <option value="<%=val.userid%>" selected>
                        <%=val.fullname%>
                      </option>
                    <%}else{%>
                      <option value="<%=val.userid%>">
                        <%=val.fullname%>
                      </option>
                    <%}%>
                  <%})%>
                </select>
              </td>
          </tr>
          <tr>
            <td>
              <input type="submit" class="btn btn-primary" value="Search">
            </td>
          </tr>
        </tbody>
      </table>
    </form>
    <h2>Options</h2>
    <div class="container">
      <div class="row">
        <div class="col-2">
          Columns
        </div>
        <form action="/apply" method="POST">
          <input type="hidden" name="query" value="<%=query%>">
          <div class="col-3">
            <div class="custom-control custom-checkbox">
              <%if(column[0].id == true || query.columnId){%>
                <input type="checkbox" class="custom-control-input" name="columnId" id="columnId" checked>
                <label class="custom-control-label" for="columnId">ID</label>
              <%}else{%>
                <input type="checkbox" class="custom-control-input" name="columnId" id="columnId">
                <label class="custom-control-label" for="columnId">ID</label>
              <%}%>
            </div>
            <div class="custom-control custom-checkbox">
              <%if(column[0].name == true || query.columnName){%>
                <input type="checkbox" class="custom-control-input" name="columnName" id="columnName" checked>
                <label class="custom-control-label" for="columnName">Name</label>
              <%}else{%>
                <input type="checkbox" class="custom-control-input" name="columnName" id="columnName">
                <label class="custom-control-label" for="columnName">Name</label>
              <%}%>
            </div>
            <div class="custom-control custom-checkbox">
              <%if(column[0].member == true || query.columnMember){%>
                <input type="checkbox" class="custom-control-input" name="columnMember" id="columnMember" checked>
                <label class="custom-control-label" for="columnMember">Member</label>
              <%}else{%>
                <input type="checkbox" class="custom-control-input" name="columnMember" id="columnMember">
                <label class="custom-control-label" for="columnMember">Member</label>
              <%}%>
            </div>
            <br>
            <div>
              <input type="submit" class="btn btn-primary" value="Apply">
            </div>
          </div>
        </form>
      </div>
    </div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col" class="columnId">ID</th>
          <th scope="col" class="columnName">Name</th>
          <th scope="col" class="columnMember">Member</th>
          <%if(admin){%>
            <th scope="col" class="columnAction">Action</th>
          <%}%>
        </tr>
      </thead>
      <tbody>
        <%var tampung = []%>
        <%var hasil = []%>
        <%var object = {}%>
        <%for(var i = 0; i < data.length; i++){%>
          <%var dataS = data[i].name%>
          <%member.forEach((val)=>{%>
            <%if(data[i].projectid == val.projectid){%>
              <%tampung.push(val.fullname)%>
            <%}%>
          <%})%>
          <%object.projectid = data[i].projectid%>
          <%object.name = data[i].name%>
          <%object.members = tampung%>
          <%hasil.push(object)%>
          <%object = {}%>
          <%tampung = []%>
        <%}%>
        <%hasil.forEach(function(val){%>
          <tr>
            <th scope="row" class="columnId">
              <a href="/details/<%=val.projectid%>"> <%=val.projectid%> </a>
            </th>
            <td class="columnName">
              <%=val.name%>
            </td>
            <td class="columnMember">
              <%=val.members%>
            </td>
            <%if(admin){%>
              <td>
                <a href="/edit/<%=val.projectid%>">
                  <button type="submit" class="b-edit" name="edit">Edit</button>
                </a>
                <a href="/delete/<%=val.projectid%>" onclick="return confirm('apakah anda yakin ?')">
                  <button type="submit" class="b-delete" name="delete">Delete</button>
                </a>
              </td>
            <%}%>
          </tr>
        <%});%>
      </tbody>
    </table>
    <nav aria-label="...">
      <ul class="pagination">
        <%if(page <= 0){%>
          <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1">Previous</a>
          </li>
        <%}else{%>
          <li class="page-item">
            <a class="page-link" href="/?page=<%=page-1%>" tabindex="-1">Previous</a>
          </li>
        <%}%>
        <%for(var i = 0; i < Math.floor(leng/3)+1; i++){%>
          <%if(`/?page=${i}` == url){%>
            <li class="page-item active">
              <a href="/?page=<%=i%>">
                <input type="submit" class="page-link" name="page" value="<%=i+1%>">
              </a>
            </li>
          <%}else if ('/' == url){%>
            <%if(i == 0){%>
              <li class="page-item active">
                <a href="/?page=<%=i%>">
                  <input type="submit" class="page-link" name="page" value="<%=i+1%>">
                </a>
              </li>
            <%}else{%>
              <li class="page-item">
                <a href="/?page=<%=i%>">
                  <input type="submit" class="page-link" name="page" value="<%=i+1%>">
                </a>
              </li>
            <%}%>
          <%}else{%>
            <li class="page-item">
              <a href="/?page=<%=i%>">
                <input type="submit" class="page-link" name="page" value="<%=i+1%>">
              </a>
            </li>
          <%}%>
        <%}%>
        <%if(page == Math.floor(leng/3)){%>
          <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="+1">Next</a>
          </li>
        <%}else{%>
          <li class="page-item">
            <a class="page-link" href="/?page=<%=parseInt(page)+1%>" tabindex="+1">Next</a>
          </li>
        <%}%>
      </ul>
    </nav>
    <%if(admin){%>
      <a href="/add">
        <button type="submit" class="btn btn-primary">Add</button>
      </a>
    <%}%>




    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/core.js"></script>
    <script>
      $("input:checkbox:not(:checked)").each(function () {
        var column = "table ." + $(this).attr("name");
        $(column).hide();
      });

      $("input:checkbox").click(function () {
        var column = "table ." + $(this).attr("name");
        $(column).toggle();
      });
    </script>
  </div>
</body>

</html>